<!doctype html>
<html lang="en">
<!--
 * Marcus Absher
 * Date: 1-18-19
 * http://mabsher.greenriverdev.com/328/dating/
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>
<body class="p-5">
<div class="border rounded mt-3 p-3">
    <form action="#" method="post">
        <h1>Profile</h1>
        <hr>
        <div class="row border-0 ml-0">
            <div class="col-6">
                <div class="form-group"><!--Name -->
                    <check if="{{@errors['email']}}">
                        <p class="text-danger">{{@errors['email']}}</p>
                    </check>
                    <label class="font-weight-bold" for="email" >Email</label>
                    <div>
                        <input type="text" class="form-control"  name="email" id="email">
                    </div>
                </div>
                <div class="form-group"><!--Name -->
                    <check if="{{@errors['states']}}">
                        <p class="text-danger">{{@errors['states']}}</p>
                    </check>
                    <label class="font-weight-bold" for="states" >State</label>
                    <div>
                        <select class="form-control" name="states" id="states">
                            <repeat group="{{ @states }}" value="{{ @state }}">
                                <option value="{{ trim(@state) }}">{{ trim(@state) }}</option>
                            </repeat>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Seeking</label>
                    <div>
                        <input type="radio" name="seeking" id="male" value="male"> &nbsp; Male &nbsp;

                        <input type="radio" name="seeking" id="female" value="female"> &nbsp; Female
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="font-weight-bold">Biography</label><br>
                    <textarea class="w-100 rounded form-control" name="bio" cols="50" rows="10">Enter text here...</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11">

            </div>
            <div class="col-1"><!--next button column  -->
                <div>
                    <button type="submit" name="submit" class="btn btn-primary">NEXT</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>