<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link href="../styles/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container border rounded p-3 mt-3">
        <br>
        <br>
        <form action="">
            <h1 class="ml-4">Profile</h1>
            <hr>
            <div class="row border-0">
                <div class="col-md-8"><!--left column  -->
                    <div class="form-group"><!--Name -->
                    <label class="font-weight-bold" for="fname" >First Name</label>
                    <div>
                        <input type="text" class="form-control"  name="fname" id="fname">
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="lname" >Last Name</label>
                        <div>
                            <input type="text" class="form-control"  name="lname" id="lname">
                        </div>
                    </div>
                    <div class="form-group"><!--Name -->
                        <label class="font-weight-bold" for="age" >Age</label>
                        <div>
                            <input type="text" class="form-control"  name="age" id="age">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="labeltext"></label>
                        <div>
                            <label for="male">Male</label>
                            <input type="radio" name="gender" id="male" value="male">
                            <label for="female">Female</label>
                            <input type="radio" name="gender" id="female" value="female">
                        </div>
                    </div>
                </div>
                <div class="col-md-4"> <!--right column  -->
                    <div class="border rounded bg-light">
                        <p><span class="font-weight-bold">Note:</span> All information entered is protected by our privacy policy. Profile information can only be viewed by others with your permission.</p>
                    </div>
                </div>
            </div>
            <div class="row border-0">
                <div class="col-md-10">

                </div>
                <div class="col-md-2"><!--next button column  -->
                    <div>
                        <button class="btn btn-primary">NEXT</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</body>
</html>